:root {
    /* Dark colors */
    --dark-coffee: #1A120B;
    --persian-green: #0B413B;

    /* Light colors */
    --warm-white: #F9F1EB;
    --vanilla-cream: #FAF4EF;
    --color-sandy-brown: #E5B28A;
}

body {
    background-color: var(--warm-white);
    margin: 0 auto;
    padding: 32px 0;
}

/* Font Lugrasimo */
.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Font Bentham */
.bentham-regular {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}
/*nav bar*/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 0 32px 35px;
}
.navbar .menu-items {
  display: flex;
}
.flex-container { 
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
  justify-content: center;
  gap: 14px;
}
.flex-item {
  width: 153px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FAF4EF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flex-item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.flex-item h3 {
  margin: 8px 12px 4px 12px;
  color: var(--dark-coffee);
  color: #1A120B;
  font-family: Bentham;
  font-size: 20px;
  font-weight: 400;
}

.flex-item p {
  margin: 0 12px 12px 12px;
  font-size: 18px;
  font-weight: 400;
  color: var(--persian-green);
  font-weight: bold;
}
.delivery-container {
    display: flex;
    justify-content: center;
    padding: 0 35px;
    margin-bottom: 35px;
}

.delivery-item {
    background-color: var(--persian-green);
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    width: 320px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.delivery-item::before {
    content: '';
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 258px;
    height: 258px;
    background-image: url('images/fetta-rolls.png');
    background-size: 60%;
    background-position: left;
    border-radius: 50%;
    opacity: 0.3;
    z-index: 1;
}

.delivery-item h3,
.delivery-item p,
.delivery-item button {
    position: relative;
    z-index: 2;
}

.delivery-item h3 {
    color: var(--warm-white);
    font-family: 'Lugrasimo';
    margin: 0 0 10px 0;
    font-size: 24px;
}

.delivery-item p {
    color: var(--warm-white);
    font-size: 20px;
    font-family: 'Bentham';
    width: 236px;
    height: 52px;
}

.delivery-item button {
  border-radius: 34px;
  background: #FAF4EF;
  font-family: 'Bentham';
  font-size: 20px;
  width: 130px;
  height: 43px;
  flex-shrink: 0;
  color: var(--dark-coffee);
  cursor: pointer;
  border: none;
}
