:root {
    /* Dark colors */
    --dark-coffee: #1A120B;
    --persian-green: #0B413B;

    /* Light colors */
    --warm-white: #F9F1EB;
    --vanilla-cream: #FAF4EF;
    --color-sandy-brown: #E5B28A;
}

body {
    background-color: var(--warm-white);
    margin: 0 auto;
}

/* Font Lugrasimo */
.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Font Bentham */
.bentham-regular {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}